<!DOCTYPE html>
<html>
  <head>
    <title>江森链条</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container container-fluid">
      <div class="row">
        <div class="alert-message">
          <%= render "common/navbar" %>
        </div>
        <%= render "common/flashes" %>
        <div class="custom-body">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
